<section class="banner-area relative" id="home">	
				<div class="overlay overlay-bg"></div>
				<div class="container">
					<div class="row d-flex align-items-center justify-content-center">
						<div class="about-content col-lg-12">
							<h1 class="text-white">
								About Us				
							</h1>	
							<p class="text-white link-nav"><a href="index.html">Home </a>  <span class="lnr lnr-arrow-right"></span>  <a href="about.html"> About Us</a></p>
						</div>											
					</div>
				</div>
			</section>
			<!-- End banner Area -->	

			<!-- Start home-about Area -->
			<section class="home-about-area" id="about">
				<div class="container-fluid">				
					<div class="row justify-content-center align-items-center">
						<div class="col-lg-6 no-padding home-about-left">
							<img class="img-fluid" src="img/about-img.jpg" alt="">
						</div>
						<div class="col-lg-6 no-padding home-about-right">
							<h1>BIKE-X RENTALS - Our Bikes Your Journeys</h1>
							<p>
								<span>Since 2010</span>
							</p>
							<p>
								Founded by a group of three passionate bikers 9 years ago. What started as hobby has turned into legendary with almost 400 bikes under the arsenal and serving over 6 different location throughout the country
							</p>
							
						</div>
					</div>
				</div>	
			</section>
			<!-- End home-about Area -->	

			<section class="feature-area section-gap" id="service">
				<div class="container">
					<div class="row d-flex justify-content-center">
						<div class="col-md-8 pb-40 header-text">
							<h1>WHY CHOOSE US ?</h1>
							<p>
								Customers safety and satisfaction is our top priority.
							</p>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-6 col-md-6">
							<div class="single-feature">
								<h4><span class="lnr lnr-user"></span>Customer Service
								</h4>
								<p>
									24*7 assistance is available to help you, no matter where you are. Our team is trained to solve your problem quickly and efficiently.


								</p>
							</div>
						</div>
						<div class="col-lg-6 col-md-6">
							<div class="single-feature">
								<h4><span class="lnr lnr-license"></span>Easy Cancellation</h4>
								<p>
									Book bikes at your own convenience and timings. Also, we have a easy cancellation policy. No hidden charge or any other policies.
								</p>								
							</div>
						</div>
						<div class="col-lg-6 col-md-6">
							<div class="single-feature">
								<h4><span class="lnr lnr-phone"></span>Customer Safety
								</h4>
								<p>
									Your safety is our top priority. We provide well maintained bikes and provide crash assistance.
								</p>								
							</div>
						</div>
						<div class="col-lg-6 col-md-6">
							<div class="single-feature">
								<h4><span class="lnr lnr-rocket"></span>Easy Pickup</h4>
								<p>
									You don't have to waste time verifying documents at vendor’s shop. We will do it for you.Just book your bike with us
								</p>				
							</div>
						</div>
					</div>
				</div>
