	<section class="banner-area relative" id="home">	
				<div class="overlay overlay-bg"></div>
				<div class="container">
					<div class="row d-flex align-items-center justify-content-center">
						<div class="about-content col-lg-5">
						<h1 class="text-white">
								Bike Details				
							</h1>	
						</div>											
					</div>
				</div>
			</section>
			<!-- End banner Area -->	

			<!-- Start home-about Area -->
			<section class="home-about-area" id="about">
				<div class="container-fluid">	
							
					<div class="row justify-content-center align-items-center">
						<table>
							<tr>						
						<div class="col-lg-6 no-padding home-about-left">

							<td rowspan=7><img class="img-fluid" src="img/Bike.jpg" alt="">
						</div>
						<div class="col-lg-6 no-padding home-about-right">
		</td><td>					<h1>Royal Enfield 500CC</h1>
				</td>		</tr>	
					<tr><td colspan=2>		<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.
							</p>
							</td></tr>
							<tr><h3>
							<td> <b>Rate per Day:</b>1200 </td>
							<td> <b>Deposit:</b>2000 </td>
							</h3></tr>
							
							<tr>
							<td><b>Speed Limit: </b> 80 kmph </td>
							<td> <b>Engine: </b> 500 cc</td>
							</tr>
							<tr><td>
							 <div class="form-group row">
							        <div class="col-md-6 wrap-left">
								       	<div class="default-select" id="default-select"">
											<select>
												<option value="" disabled selected hidden>Pickup</option>
												<option value="1">Patiala</option>
												<option value="1">Ludhiana</option>
												<option value="1">Chandigarh</option>
												<option value="1">Bhatinda</option>
											</select>
										</div>
							        </div>
							        <div class="col-md-6 wrap-right">
										<div class="input-group dates-wrap">                                          
											<input id="datepicker" class="dates form-control" id="exampleAmount" placeholder="Date & time" type="text">                        
											<div class="input-group-prepend">
												<span  class="input-group-text"><span class="lnr lnr-calendar-full"></span></span>
											</div>											
										</div>
							        </div>
							    </div>
								</td></tr>
								<tr><td>
								<div class="form-group row">
							        <div class="col-md-6 wrap-left">
								       	<div class="default-select" id="default-select"">
											<select>
												<option value="" disabled selected hidden>Drop off</option>
												<option value="1">Patiala</option>
												<option value="1">Ludhiana</option>
												<option value="1">Chandigarh</option>
												<option value="1">Bhatinda</option>
											</select>
										</div>
							        </div>
							        <div class="col-md-6 wrap-right">
										<div class="input-group dates-wrap">                                              
											<input id="datepicker2" class="dates form-control" id="exampleAmount" placeholder="Date & time" type="text">                        
											<div class="input-group-prepend">
												<span  class="input-group-text"><span class="lnr lnr-calendar-full"></span></span>
											</div>											
										</div>
							        </div>
							    </div>							    
								</td>
								</tr>
								<tr><td></td>
								<td><b>Terms and Condition</b><td></tr>
								<tr><td></td><td>
  1. Original Id Will be verified one that was used during time of online booking.</td></tr>
  <tr><td></td><td>2. Driving License will be verified during the timeof Pickup.</td></tr>
  <tr><td></td><td>3. This vehicle is allowed to be taken to long routes with some extra deposit.</td></tr>
 <tr><td></td><td>4. Two complimentary helmet and Carriage will be provided with the bike.</td></tr>
						</div>
						</table>
						 <div>
						 <br>
							        <div class="col-md-12">
							          <a class="text-uppercase primary-btn" href="confirmation.html">CONFIRM BIKE BOOKING</a>
						    </div>
							    </div>
							
					</div>
			
			<!-- End home-about Area -->	

					<div class="row d-flex justify-content-center">
						<div class="col-md-12 pb-40 header-text">
						<br>
						<br>
							<h1 align="center">Specifications</h1>
							
						</div>
					</div>
					<div class="row justify-content-center align-items-center">
					
						<table  padding-right="15px" cellspacing="50px" width="950" height="200">
						<font size=8>
						<tr><td cellpadding=30px><b>Power	</td><td>19.8 bhp @ 5250 rpm</td> <td><b>Mileage</td><td>	40 kmpl</td>
	
</tr>
						<tr><td><b>Torque	</td><td>28 Nm @ 4000 rpm</td><td><b>Fuel Tank</td><td>20 liters</td></tr>
						<tr><td><b>Gear Count	</td><td>5 speed</td><td><b>Reserve Tank</td><td>2.5 liters</td></</tr>
						<tr><td><b>Ground Clearance	</td><td>135 mm</td><td><b>Kerb Weight</td><td>195 kg</td></</tr>
	<tr><td>  <br><br> </td>  </tr>
						</font></table>
						<br>
					</div>
				</div>
				</section>
			<!-- End feature Area -->					
