<section class="banner-area relative" id="home">
				<div class="overlay overlay-bg"></div>	
				<div class="container">
					<div class="row fullscreen d-flex align-items-center justify-content-center">
						<div class="banner-content col-lg-7 col-md-6 ">
							<h6 class="text-white ">OUR BIKES YOUR JOURNEYS</h6>
							<h1 class="text-white text-uppercase">
								BIKE-X BIKE RENTAL				
							</h1>
							<p class="pt-20 pb-20 text-white">
								One stop bike rental platform. Explore the explored and unexplored through our self-ride bike rental platform.
							</p>
							<a href="/gigs" class="primary-btn text-uppercase">Our Bikes</a>
						</div>
						<div class="col-lg-5  col-md-6 header-right">
							<h4 class="text-white pb-30">Book Your Bike Today!</h4>
							<form class="form" role="form" autocomplete="off" action="/gigs/search" method="GET">
						    
							    <div class="from-group">
							    	<input class="form-control txt-field" type="search" name="pickup" placeholder="Pickup location for bike">
							    </div>
							    <div class="form-group row">
							        <div class="col-md-12">
							            <button type="submit" value='search' class="btn btn-default btn-lg btn-block text-center text-uppercase">Search for bikes</button>
							        </div>
							    </div>
							</form>
						</div>											
					</div>
				</div>					
			</section>
			<!-- End banner Area -->

      <section class="feature-area section-gap" id="service">
				<div class="container">
					<div class="row d-flex justify-content-center">
						<div class="col-md-8 pb-40 header-text">
							<h1>WHY CHOOSE US ?</h1>
							<p>
								Customers safety and satisfaction is our top priority.
							</p>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-6 col-md-6">
							<div class="single-feature">
								<h4><span class="lnr lnr-user"></span>Customer Service
								</h4>
								<p>
									24*7 assistance is available to help you, no matter where you are. Our team is trained to solve your problem quickly and efficiently.


								</p>
							</div>
						</div>
						<div class="col-lg-6 col-md-6">
							<div class="single-feature">
								<h4><span class="lnr lnr-license"></span>Easy Cancellation</h4>
								<p>
									Book bikes at your own convenience and timings. Also, we have a easy cancellation policy. No hidden charge or any other policies.
								</p>								
							</div>
						</div>
						<div class="col-lg-6 col-md-6">
							<div class="single-feature">
								<h4><span class="lnr lnr-phone"></span>Customer Safety
								</h4>
								<p>
									Your safety is our top priority. We provide well maintained bikes and provide crash assistance.
								</p>								
							</div>
						</div>
						<div class="col-lg-6 col-md-6">
							<div class="single-feature">
								<h4><span class="lnr lnr-rocket"></span>Easy Pickup</h4>
								<p>
									You don't have to waste time verifying documents at vendor’s shop. We will do it for you.Just book your bike with us
								</p>				
							</div>
						</div>
					</div>
				</div>
			<!-- End feature Area -->